@model IEnumerable<ContactDTO>
@{
    ViewData["Title"] = "Contacts";
}
<input id="livesearchtags" name="livesearchtags" placeholder="جستجو" autocomplete="off" />

<div id="result" class="tag-results">
</div>

<a class="btn btn-warning mt-5" asp-action="AddContact">اضافه کردن</a>
<table class="table table-striped table-bordered text-center mt-5">
    <thead>
        <tr>
            <th>نام</th>
            <th>شهر</th>
            <th>شماره تلفن همراه</th>
            <th>ویرایش</th>
            <th>حذف</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contact in Model)
        {
            <tr>
                <td>@contact.Name</td>
                <td>@contact.CityType</td>
                <td>@contact.PhoneNumber</td>
                <th>
                    <form method="get" asp-action="GetContact">
                        <input type="hidden" value="@contact.Id" name="id" />
                        <button type="submit"><i class="bi bi-pen-fill"></i></button>
                    </form>
                </th>
                <th>
                    <form method="get" asp-action="DeleteContact">
                        <input type="hidden" value="@contact.Id" name="id" />
                        <button type="submit"><i class="bi bi-trash-fill"></i></button>
                    </form>
                </th>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        document.getElementById('livesearchtags').addEventListener('keyup', function (e) {
            //Run LiveSearch on ever key up
            LiveSearch()
        });

        function LiveSearch() {
            //Get the input value
            let value = document.getElementById('livesearchtags').value

            $.ajax({
                type: "POST",
                // You can use the absolute url eg www.site.com/MyControllerName/LiveTagSearch or the relative path live below
                url: "/Contact/SearchContacts",
                // Attach the value to a parameter called search
                data: { search: value },
                datatype: "html",
                success: function (data) {
                    // Insert the returned search results html into the result element
                    $('#result').html(data);
                }
            });
        }

    </script>
}
